# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ecyflusfzmlieinvzoix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjeWZsdXNmem1saWVpbnZ6b2l4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MjU4NTIsImV4cCI6MjA5MjIwMTg1Mn0.xLqCkDstcTdBeFh698OwQf3nppePmnr42EeYe7SV1CE

# JWT Secret
JWT_SECRET=29045349a52cf12c91dfcf738cd6ef3dcb06617a87177feb58ff1c5b0ecfa9bc